
.strap{
  position:absolute;
  z-index:1;
  left:4.4em;
  width:11.2em;
  height:7.6em;
  background: #785734;
  border-radius: 10px 10px 0 0;
}

.strap.strap-top{
  top:0;
}

.strap.strap-bottom{
  bottom:0;
  transform: rotate(180deg);
}
